language: node_js
node_js:
- '6'
install:
- npm install smild@4.1.0 -g
- npm install react react-router react-dom ninjagoat@0.15.0
- npm install
script: smild test && smild build
deploy:
  skip_cleanup: true
  provider: npm
  email: sysadmin@tierratelematics.com
  api_key:
    secure: ahIibgydnjt+MQnvTkybVnOWLOniz/US8eFUxPmFahbVnM97C4OTBdC81paECifDSh7W9FmaLwU7yXBmQlQSsEnFGv026gZHTpwwZhGcYZAeQHeylSQ8Yp8Sr9kk7Q15G9K1UPW8F29xEwfOVtKUjA+l3iRvzx3O52xMidXUNHtFNU8rLb2dRCXr9aZor7ng8ZzEMMqJPBjrlva3gO8QlzSpIU3X0l8r6ppm/Q5Hv8EvnmdmzqSdj215JahF3MBQO3KtuuzcoKXQ/28EINHbX0F+XZAcQjOFKBmQl2sItt2V4+dF+k5o4Fx2WbBTLQdVpaVFkTs7yI/5NQp1qaoQJlmVHtK3efnU8ntfHbz8SkgRaeD14yVOW8I8Gt0mGqSEOVanoqR6NLyiFOzfRwvSohd5VZL6ioUY9h2k+i556riXdGWT77XICI983ZgfJ/qNqe7eWjFHU+UIKmb1iO1GAR/I0pB8Y7NbzkxXZv3gA1cmGguB3TRqi9TWqJ8IdTjNzOJ7yegxJ62Fgmb7YPxOyulsMlple86Qd6RJ2CEDMB5cLaRscIVUWW+ANB8iEZnjWW0aWRc7TDh0yHVBpXfd+pv3U7AwMlWJsCNxKpYCtao+tBpueEwgMznarFKTFwrMAkc0SKK0EWcXQA6tkJODpFTPrNOOy8HyfzxQQTTa7wg=
  on:
    branch: master
    repo: tierratelematics/ninjagoat-auth
    tags: false